.board {
    width:100%;
    height:80%;
    margin:0;
    box-sizing:border-box;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:0 5%;
}

.container {
    perspective:1000px;
    margin:0 0.5%;
    max-height:100%;
    width: 100%;
}

.card {
    position:relative;
    transition:transform 0.5s;
    transform-style: preserve-3d;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position:absolute;
    top:1%;
    left:1%;
    opacity:0;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    cursor:pointer;
}

[type="checkbox"]:not(:checked) + label .card,
[type="checkbox"]:checked + label .card{
  color: transparent;
  transition: 300ms ease;
}

[type="checkbox"]:not(:checked):focus + label .card,
[type="checkbox"]:checked:focus + label .card {
  color: #fff;
}

[type="checkbox"]:checked + label .card {
    transform:rotateY(-180deg);
}

[type="checkbox"]:checked + label .card {
    transform:rotateY(-180deg);
}

.placeholder {
    max-height:80vh;
    width:auto;
}

.front, .back {
    position:absolute;
    top:0;
    left:0;
}

.back {
    backface-visibility:hidden;
    transform: rotateY(0deg);
    z-index:2;
}

.front {
    backface-visibility:hidden;
    transform: rotateY(180deg);
}

@media (max-width:767px) {
    .container {
      width: 39.78375vh;
    }
    .container:not(:first-of-type) {
        display:none;

    }
}

@media (min-width:768px) and (max-width:1023px) {
    .container:nth-of-type(2n) {
         display:none;
    }
}

@media (min-width:1024px) {
    .container {
         display:block;
    }
}
